/* ========== BODY ========== */

body {
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.4;
}

h1 {
	font-size: 2.5em;
	text-align: center;
	margin: 10px 0;
}

a {
	color: blue;
	font-size: 1.6em;
}

p {
	margin: 5px 0;
}

strong {
	font-weight: bold;
}

/* ========== NAV ========== */

nav {
	overflow: hidden;
}

nav ul {
	text-align: center;
}

nav li {
	display: inline-block;
	margin-left: 10px;
}

nav li:last-child {
	margin: 0;
}

/* ========== FORM ========== */

input {
	border: 1px solid #ccc;
	padding: 5px;
	width: 100%;
	margin: 5px 0 20px 0;
}

/* ========== HEADER ========== */

#header {
	margin-bottom: 30px;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

/* ========== CONTENT ========== */

#content {
	width: 300px;
	margin: 0 auto;
}

.tags-help {
	display: block;
	font-size: 10px;
}

.results {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 20px;
}

/* ========== FOOTER ========== */

#footer {
	text-align: center;
	margin-top: 30px;
	font-size: 0.765em;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}